In [11]:
import pandas as pd
import numpy as np
import os
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier

In [3]:
curr_dir = os.getcwd()

In [7]:
train = pd.read_csv(curr_dir+"//Train//historical_demand.csv")
test = pd.read_csv(curr_dir+"//Test//demand_forecast.csv")

In [23]:
train.head()

,Month,Demand,Product_ID_P1,Product_ID_P10,Product_ID_P11,Product_ID_P12,Product_ID_P13,Product_ID_P14,Product_ID_P15,Product_ID_P16,...,Region_R17,Region_R18,Region_R2,Region_R3,Region_R4,Region_R5,Region_R6,Region_R7,Region_R8,Region_R9
0,1,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
test.head()

,Month,Product_ID_P1,Product_ID_P10,Product_ID_P11,Product_ID_P12,Product_ID_P13,Product_ID_P14,Product_ID_P15,Product_ID_P16,Product_ID_P17,...,Region_R17,Region_R18,Region_R2,Region_R3,Region_R4,Region_R5,Region_R6,Region_R7,Region_R8,Region_R9
0,37,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,38,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,39,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,37,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,38,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
test.drop(['Demand'], axis=1, inplace = True)

In [18]:
train = pd.get_dummies(train, columns=["Product_ID"])

In [20]:
test = pd.get_dummies(test, columns=["Product_ID"])

In [22]:
train = pd.get_dummies(train, columns=["Region"])

In [24]:
test = pd.get_dummies(test,columns=["Region"])

In [26]:
x_train,y_train = train.drop(['Demand'],axis =1),train.Demand
m = RandomForestRegressor(n_jobs=-1,min_samples_leaf=3,n_estimators=200)
m.fit(x_train, y_train)
print(m.score(x_train,y_train))

0.959235761757

In [27]:
preds = m.predict(test)

In [35]:
preds = pd.Series(preds)

In [29]:
test2 = pd.read_csv(curr_dir+"//Test//demand_forecast.csv")
test2.drop(['Demand'], axis=1, inplace = True)

In [42]:
preds.shape

(4374,)

In [43]:
test2.shape

(4374, 3)

In [44]:
submit.shape

(4374, 4)

In [38]:
submit = pd.concat([test2.Product_ID,test2.Region,test2.Month,preds],axis=1)

In [50]:
submit.columns = ['Product_ID','Region','Month','Demand']

In [51]:
submit.shape

(4374, 4)

In [52]:
submit.to_csv(curr_dir+"//Submission//demand_forecast.csv",index=False)